<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Search or Browse Listings</h1>
      <div class="alert alert-danger" role="alert" ng-if="searchStatus">
      {{searchStatus}}
      </div>
      <div class="alert alert-danger" role="alert" ng-if="!results">
        No results found.
      </div>
    </div>
  </div>
  <!-- title ends -->
  
  <div class="row">
    <div class="col-md-3">
      <form ng-submit="constructURL()">
        <div class="form-group">
            <label for="keyword">Keyword</label>
            <input type="text" class="form-control" id="keyword" placeholder="Enter keyword" ng-model="frm.keyword">
        </div>
        <div class="form-group">
            <label for="location">Near</label>
            <input type="text" class="form-control addressBox" id="location" ng-model="location" placeholder="Enter Location" ng-autocomplete options="mapOptions" details="details">
        </div>
        <div class="form-group">
            <label for="radius">Radius</label>
            <input type="text" class="form-control" id="radius" placeholder="Enter radius in miles" ng-model="frm.radius" value="30">
        </div>
        <button type="submit" class="btn btn-primary form-control">Search</button>
    </form>
    </div><!-- form -->
    <div class="col-md-9">
      
       <div class="list-group">
          <div class="list-group-item" ng-repeat="item in results">
            <div class="row">
              <div class="col-md-2">
                <img ng-src="{{item.mainImage}}" class="img-responsive">
              </div>
              <div class="col-md-10">
                  <h4 class="list-group-item-heading"><a href="#/lessons/detail/{{item.id}}">{{item.title}}</a></h4>
                <p class="list-group-item-text"><a href="http://maps.google.com/maps?q=loc:{{item.lat}},{{item.lng}}" target="_blank">{{item.location.formatted_addr}}</p>
                <p class="list-group-item-text"><strong>Created On:</strong> {{item.dateFormattedAll}}</p>
                <p class="list-group-item-text" ng-if="item.distance">{{item.distance}} miles away</p>
              </div>
            </div>
          
            
          </div>
          
        </div>
        
        <div pagination max-rows="{{data.max}}", page-num="{{data.page}}" start-rows="{{data.start}}" total-pages="{{data.totalPages}}" total-rows="{{data.totalRows}}" url-prefix="{{frm.urlPrefix}}" url-suffix="{{frm.urlSufix}}"></div>
        
      
      
      
    </div><!-- results -->
  </div>
</div>