<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>My Listings</h1>
      <div class="alert alert-danger" role="alert" ng-if="searchStatus">
      {{searchStatus}}
      </div>
       <div class="alert alert-danger" role="alert" ng-if="results.length === 0">
        No results found.
      </div>
    </div>
  </div>
  <!-- title ends -->
  
  <div class="row">
    <div class="col-md-12">
      
       <div class="list-group">
          <div class="list-group-item" ng-repeat="item in results">
            <div class="row">
              <div class="col-md-2">
                <img ng-src="{{item.mainImage}}" class="img-responsive">
              </div>
              <div class="col-md-10">
                <h4 class="list-group-item-heading"><a href="#/activities/detail/{{item.id}}">{{item.title}}</a></h4>
                <p class="list-group-item-text"><a href="http://maps.google.com/maps?q=loc:{{item.lat}},{{item.lng}}" target="_blank">{{item.location.formatted_addr}}</a></p>
                <p class="list-group-item-text"><strong>Created On:</strong> {{item.dateFormattedAll}}</p>
                <p class="list-group-item-text" ng-if="item.distance">{{item.distance}} miles away</p>
              </div>
            </div>
          
            
          </div>
          
        </div>
        
        <div pagination max-rows="{{data.max}}", page-num="{{data.page}}" start-rows="{{data.start}}" total-pages="{{data.totalPages}}" total-rows="{{data.totalRows}}" url-prefix="{{frm.urlPrefix}}" url-suffix="{{frm.urlSufix}}"></div>
        
      
      
      
    </div><!-- results -->
  </div>
</div>