<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Login</h3>
      
      
            <div class="alert alert-warning" role="alert" ng-if="loginError">
              {{loginError}}
            </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form ng-submit="loginUser()">
          <div class="form-group">
              <label for="email">Username / Email address</label>
              <input type="text" class="form-control" id="email" placeholder="Enter email" ng-model="frmLogin.email" required>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" ng-model="frmLogin.password" required>
          </div>
          <button type="submit" class="btn btn-primary form-control">Login</button>
      </form>
    </div>
  </div>
</div>
